packages:
  yum:
    atk: []
    cups-libs: []
    libdrm: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    pango: []
    libXrandr: []
    alsa-lib: []
    libXrender: []
    gtk3: []
    nss: []
    ipa-gothic-fonts: []
commands:
  puppeteer_fix:
    command: "ln -s /usr/lib64/libXcomposite.so.1 /usr/lib/libXcomposite.so.1 || true"
